@import url("https://fonts.googleapis.com/css2?family=Modak&display=swap");
h3 {
  background-color: black;
  color: whitesmoke;
  width: 15%;
  padding: 1rem;
  margin-right: 2rem;
  font-family: "Modak", cursive;
  font-size: 3rem;
}
body {
  background: black;
}
#header-section {
  background: url("/assets/images/img2.jpg");
  height: 60vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
