<div class="container">
  <p class="font-italic pt-2">
    Author: {{ quote.author }}
    <button (click)="quoteDelete(true)" class="btn btn-warning ml-4">
      Delete Quote?
    </button>
  </p>
  <p>
    This quote was posted by {{ quote.person }}
    <span id="days">{{ quote.date | timeCount }}</span>
    days ago.
  </p>
  <div class="d-flex">
    <div>
      <p>{{ numberOfLikes }}</p>
      <button (click)="likeButtonClick()" class="btn btn-success mr-3">
        Like
      </button>
    </div>
    <div>
      <p>{{ numberOfDislikes }}</p>
      <button (click)="dislikeButtonClick()" class="btn btn-danger">
        Dislike
      </button>
    </div>
  </div>
</div>
