@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Chilanka&family=Modak&display=swap");
body {
  font-family: "Chilanka", cursive;
  font-size: 20px;
}
