<div class="container">
  <div class="row">
    <div class="col">
      <h3>Create A Quote!</h3>
      <form
        #quoteForm="ngForm"
        (ngSubmit)="submitQuote(); quoteForm.resetForm({})"
      >
        <div class="form-group">
          <label for="date">Date</label>
          <input
            type="date"
            [(ngModel)]="newQuote.date"
            #date="ngModel"
            [class.is-invalid]="date.invalid && quote.touched"
            class="form-control"
            name="date"
            id="date"
          />
        </div>
        <div class="form-group">
          <label for="quote">Create A Quote..</label>
          <textarea
            name="quote"
            #quote="ngModel"
            [class.is-invalid]="quote.invalid && quote.touched"
            class="form-control"
            id="quote"
            cols="30"
            rows="5"
            [(ngModel)]="newQuote.quote"
            required
          ></textarea>
          <small
            class="text-danger"
            [class.d-none]="quote.valid || quote.untouched"
            >Quote cannot left be empty</small
          >
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          <input
            type="text"
            name="author"
            id="author"
            #author="ngModel"
            [class.is-invalid]="author.invalid && quote.touched"
            class="form-control"
            [(ngModel)]="newQuote.author"
            required
          />
          <small
            class="text-danger"
            [class.d-none]="author.valid || author.untouched"
            >Author is required</small
          >
        </div>
        <div class="form-group">
          <label for="name">What is your name?</label>
          <input
            type="text"
            name="name"
            id="name"
            [(ngModel)]="newQuote.person"
            #name="ngModel"
            [class.is-invalid]="name.invalid && quote.touched"
            class="form-control"
            required
          />
          <small
            class="text-danger"
            [class.d-none]="name.valid || name.untouched"
            >Name is required</small
          >
        </div>
        <button
          type="submit"
          [disabled]="quoteForm.form.invalid"
          class="btn btn-info"
        >
          Create Quote
        </button>
      </form>
    </div>
  </div>
</div>
